* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 30px;
  background: #F4F6F8;
  color: #666;
}

/*Movie title*/
h2 {
  margin: 0;
  padding: 0;
}

/*Result list*/

h3 {
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

/*Result for "" and Nomination title*/
h4{
  margin: 20px 20px 0px 20px;
}

/*output for result for and nominations*/

.result {
  margin-top: 20px;
  width: 100%;
  height: 1px;
  background-color: #DFE3E8;
}

/*Before The Shoppies title*/
#border {
  max-width: 1238px;
  margin: 0 auto;
}

/*the js border (container)*/
.container {
  display: flex;
  flex-wrap: wrap;
}

/*div for search result*/
.list {
  margin: 0;
  background: white;
  border-bottom: 1px solid #DFE3E8;
  overflow: hidden;
  transition: all .2s linear;
  flex: 1 1 100%;
}

/*js button*/
.notificationButton {
  float: right;
  background-color: #F9FAFB;
  margin: 12px 16px;
  border: 1px solid #C4CDD5;
  border-radius: 3px;
  color: #212B36;
  font-size: 14px;
  padding: 8px 15px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.notificationButton:disabled {
  color: #919EAB;
  background-color: #F9FAFB;
  border: 1px solid #DFE3E8;

}

/*search box div*/
#searchBoxGroup {
  background-color: white;
  border: 1px solid rgb(63, 63, 68, 0.15);
  border-radius: 5px;
  margin: 0 auto;
}

/*nominationsBoxGroup section*/
#nominationsBoxGroup {
  background-color: white;
  border: 1px solid rgb(63, 63, 68, 0.15);
  border-radius: 5px;
  margin: 0 0 0 10px;
}

/*result box div*/
#resultBoxGroup{
  max-width: 1200px;
  margin: 0 10px 0 0;
  background-color: white;
  border: 1px solid rgb(63, 63, 68, 0.15);
  border-radius: 5px;
  margin: 0 0 0 10px;
}

.column {
  float: left;
  width: calc(50% - 10px);
}

.row {
  margin-top: 20px;
}
.row: after {
  content: "";
  display: table;
  clear: both;
}

#search-input{
  margin: 20px 20px;
}

input {
  display: block;
  width: 100%;
  height: 36px;
  margin-top: 4px;

  border: 1px solid #C4CDD5;
  border-radius: 3px;
  font-size: 14px;

  background-image: url('search_icon.png');
  background-position: 10px 11px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 32px;
}

p {
  color: blue;
}

.share-btn-container {
  width: 140px;
  height: 40px;
  background: #dfe6e9;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: .3s linear;
  float: right;
}

.share-btn-container:hover{
  transform: scale(1.1);
}

.share-btn-container span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2d3436;
  color: #f1f1f1;
  text-align: center;
  line-height: 40px;
  z-index: 499;
  transition: .6s linear;
  border-radius: 20px;
}

.share-btn-container:hover span {
  transform: translateX(-100%);
  transition-delay: .3s;
}

.share-btn-container a {
  flex: 1;
  font-size: 13px;
  color: #2d3436;
  text-align: center;
  transform: translateX(-100%);
  opacity: 0;
  transition: 0.3s linear;
}

.share-btn-container:hover a {
  opacity: 1;
  transform: translateX(0);
}

.share-btn-container a:nth-of-type(1) {
  transition-delay: 1s;
}

.share-btn-container a:nth-of-type(2) {
  transition-delay: 0.8s;
}

.share-btn-container a:nth-of-type(3) {
  transition-delay: 0.6s;
}

.share-btn-container a:nth-of-type(4) {
  transition-delay: 0.4s;
}

.icon {
  float: left;
  width: 28px;
  height: 28px;
}

.dismiss {
  float:right;
  width: 36px;
  height: 36px;
  margin-right: 0px;
}

#emptyNoti {
  display: none;
  overflow: hidden;
  background-color: #EFFAFA;
  margin: 20px;
  padding: 8px 12px;
  border-radius: 6px;
}

#successNoti {
  display: none;
  overflow: hidden;
  background-color: #E3F1DF;
  margin: 20px;
  padding: 8px 12px;
  border-radius: 6px;
}

#cancelNoti {
  display: none;
  overflow: hidden;
  background-color: #FFCCCB;
  margin: 20px;
  padding: 8px 12px;
  border-radius: 6px;
}

.notiText {
  display: inline-block;
  float: left;
  margin: 6px auto auto 12px;
}
